.content{
    background-image: url("../images/56TS.gif");
    background-position: 50% 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 10rem;
    font-family: poppins;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    -webkit-text-stroke: 1px black;
}

