.react-photo-album--photo{
    box-shadow: rgb(0 0 0 / 35%) 2px 2px 5px;
    filter: brightness(0.7);
    transition: filter 0.5s ease;
}

.react-photo-album--photo:hover{
    filter: brightness(1);
}